@font-face {
    font-family: 'Bizon';
    src: url('../fonts/Bison-Bold\(PersonalUse\).ttf');
      
    

    font-style: normal;
  }

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-VariableFont_wght.ttf');
      
    

    font-style: normal;
  }