@font-face {
    font-family: 'Proxima-R';
    src: url('../fonts/proxima-nova-condensed-regular.ttf');
      
    

    font-style: normal;
  }

@font-face {
    font-family: 'Proxima-B';
    src: url('../fonts/proxima-nova-black.ttf');
      
    

    font-style: normal;
    font-weight: bold;
  }