$mobile-width: 300px;


// colors
$main-color: #1E2E36;
$secondary-color: #44C697; 




// @mixin desktop-media-agenda {
//     @media (min-width: #{$agenda-section-width}) {
//         @content;
//     }
// }

// @mixin desktop-media-full {
//     @media (min-width: #{$tracks-section-width}) {
//         @content;
//     }
// }






